!!! 5
%html
  %head
    %title
    %meta{'http-equiv' => "Content-Type", content: "text/html; charset=UTF-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = js_tag  'application'
    = css_tag 'application'

  %body
    %div.hero-unit.text-center
      %h1.espresso-heading Welcome to Espresso World
      %h2 This is your Brand New Application
      %p.lead.text-info Edit "#{__FILE__.sub(Cfg.root_path, '')}" to get rid of this banner
    %div.container
      %div.row
        %div.span4
          = png_tag 'Espresso'
        %div.span8
          %h4.espresso-heading
            %br
            Running on 
            %a{href: "https://github.com/espresso/espresso"} Espresso
            %span.muted  #{EVersion::FULL}
          %p.lead
            %a{href: "http://espresso.github.io"} espresso.github.io
      %div.row
        %hr
        %div.span8
          %h4.espresso-heading
            Built with care by 
            %a{href: "https://github.com/espresso/enginery"} Enginery
          %p.lead
            %a{href: "https://github.com/espresso/enginery"} github.com/espresso/enginery
        %div.span4
          = png_tag 'Enginery'

      = yield
